<div *ngFor="let item of reports; let i = index;">
    <div class="card">
        <div class="card-body p-2">
            <p class="card-title text-muted mb-2">{{item.reports_date}}</p>
            <div class="d-flex">
                <p class="d-block card-subtitle mr-2">{{item.users_surname}}  {{item.users_name}}</p>
                <p class="d-block card-subtitle mr-2"> {{item.projects_name}}</p>
                <p class="d-block card-subtitle mr-2"> {{item.reports_duration}}</p>
            </div>
            <p class="card-text">{{item.reports_comment}}</p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body p-2">
        <p class="card-title text-muted mb-2">Дата</p>
        <div class="d-flex">
            <p class="d-block card-subtitle mr-2">Фамилия ИО </p>
            <p class="d-block card-subtitle mr-2"> Проект</p>
            <p class="d-block card-subtitle mr-2"> Время</p>
        </div>
        <p class="card-text">Комментарий</p>
    </div>
</div>