<div class="card">
    <div class="card-body pb-3">
        <h5 class="card-title">Незаполненные даты</h5>
        <hr>
        <div class="form-inline mb-2">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm" value="21.07.2019, вс">
            </div>
            <div class="form-group  mx-sm-3">
                <button type="button" class="btn btn-secondary btn-sm">Заполнить</button>
            </div>
        </div>
        <div class="form-inline mb-2">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm" value="21.07.2019, вс">
            </div>
            <div class="form-group  mx-sm-3">
                <button type="button" class="btn btn-secondary btn-sm">Заполнить</button>
            </div>
        </div>
        <div class="form-inline mb-2">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm" value="21.07.2019, вс">
            </div>
            <div class="form-group  mx-sm-3">
                <button type="button" class="btn btn-secondary btn-sm">Заполнить</button>
            </div>
        </div>
    </div>
</div>