<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <h4>Отчет</h4>
            <hr>
            <input type="hidden" formControlName="id_user">
            <div class="form-group">
                <label for="date">Дата</label>
                <input type="date" class="form-control" id="date" formControlName="date">
            </div>
            <div class="form-group">
                <label for="projectsList">Проект</label>

                <select class="form-control" id="projectsList" formControlName="id_project">
                    <option *ngFor="let opt of projects; let i = index;" value="{{opt.id}}" >{{opt.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="commentTextArea">Комментарий</label>
                <textarea class="form-control" id="commentTextArea" rows="3" formControlName="comment"></textarea>
            </div>
            <div class="form-group">
                <label for="duration">Время работы</label>
                <input type="number" class="form-control" min="1" max="24" formControlName="duration">
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>