<div class="page">
  <app-navigation></app-navigation>
  <div class="container-fluid page__container">
    <div class="row page__row">
      <div class="col-6 page__col bc_black">
        <app-report-form></app-report-form>
        <app-report-skip></app-report-skip>
      </div>
      <div class="col-6 page__col bc_black">
        <app-report-activity></app-report-activity>
        
        User id: <input type="text" [(ngModel)]="userId">
        <button (click)="getUser()">Search</button>
        <div *ngIf="response">
          <label for="">{{response.data.name}}</label>

        </div>
      </div>
    </div>
  </div>
</div>